.container{
    width: 100%;
    height: 67vh;
}

hr{
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.grupoLoja{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    text-align: left;
    padding: 10px;
}

.grupoLoja h3{
    color: #5f5f5f;
}

.unid{
    width: 100%;
    text-align: center;
}

.agrup{
    width: 90%;
    margin-left: 10%;
    margin-top: 3%;
}

footer{
    margin-top: 0 !important;
}