.preco1{
    text-decoration: line-through;
    font-size: 20px;
}

.preco2{
    font-weight: bold;
    font-size: 20px;
}

h6{
    font-size: 19px;
}

figure{
    transition: ease-in 0.1s;
}

figure:hover{
    transform: scale(1.1);
}